<!DOCTYPE html>
<html>
      <head>
      <title>  new Project </title>
      <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            <h2>{{>header}} </h2>
            <div class="content" >
            <h2> {{title}} </h2>
            <p> {{desc}} </p>
            </div>
            <div class="weather1">
                  <h2> Country: {{country}} </h2>
                  <p> Temperature: {{Temperature}}° c </p>
                  <p> Status: {{Status}} </p>
                  <p> longitude: {{longitude}} </p>
                  <p> latitude: {{latitude}} </p>
            </div>
      </body>
</html>